{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": [
          { "@components": "./src/components" },
          { "@constants": "./src/constants" },
          { "@modules": "./src/modules" },
          { "@hooks": "./src/hooks" },
          { "@libs": "./src/libs" },
          { "@models": "./src/models" },
          { "@utils": "./src/utils" },
          { "@wrappers": "./src/wrappers" },
          { "@assets": "./src/assets" },
          { "@navigation": "./src/navigation" }
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react-native-reanimated/plugin"
  ]
}
